/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* forum-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
  box-sizing: border-box;
  }

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
  color: black;
  
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

/* Header styles start */
.header {
  background-color: #0C0C0E;
}

h1 {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 30px;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 30px;
}

.header_item:last-child {
  margin-right: 40px;
}

.header_link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header_link:hover, .header_link:focus, .header_link:active {
  opacity: .75;
}

.header_right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

/* Header styles end */


/* Main styles start */

/* Welcome styles start */
.welcome {
  display: flex;
  height: 600px;
  background: url(../img/Welcome.jpg) no-repeat center;
  background-size: cover;
  
}

.welcome_black {
  margin-top: 220px;
  height: 220px;
  width: 600px;
  background-color: #0C0C0E;
}

.welcome_p {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 40px;
  text-transform: uppercase;
  margin: 35px 40px;
  text-align: center;
  letter-spacing: 3px;
}
/* Welcome styles end */

/* About styles start */

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;

}

.h2 {
  position: relative;

  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 2px;

  margin-top: 20px;
  margin-bottom: 20px;

}

.h2::after {
  position: absolute;
  display: block;
  left: 50%;
  transform: translateX(-50%);

  top: 60px;

  height: 1px;
  width: 50px;

  background-color: #0C0C0E;

  content: "";
}

.paragraph_center {
  display: flex;
  justify-content: center;
  margin-top: 33px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-align: center;
}

.about_images_slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0;

}

.slide_none {
  display: none;
}

.about_carousel {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dot_shadow {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  height: 26px;
  width: 26px;

}

.dot {
  cursor: pointer;
  height: 16px;
  width: 16px;
  background-color: #0C0C0E;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot_shadow:hover > .dot{
  background-color: #BB945F;
}

/* About styles end */

/*Favorites styles start */

.paragraph_bold {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  margin-top: 33px;
}

.seasons_radiotypes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 700px;
  margin-top: 40px;
}

.season input[type=radio] {
  display: none;
}

.season label {
  cursor: pointer;

}

.season label::before {
  content: "";

  display: inline-block;
  cursor: pointer;
  height: 17px;
  width: 17px;
  background: transparent;
  border: 1px black solid;
  border-radius: 50%;
  margin-right: 20px;
}

/* Checked */

.season input[type="radio"]:checked + label::before {
  background: url(../img/svg/Ellipse\ 0.svg) center no-repeat;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.season input[type="radio"]:checked + label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}

/* Favorites-items start */
.favorites_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.book_item {
  position: relative;

  box-sizing: border-box;
  width: 590px;
  height: 555px;
  margin-top: 40px;
}

.book_item::before {
  position: absolute;

  content: "";
  width: 550px;
  height: 555px;
  display: inline-block;

  border: 1px black solid;
}

.staff_picks {
  position: relative;

  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;

  margin-top: 15px;
  margin-left: 20px;
  margin-bottom: 20px;

}

.staff_picks::after {
  position: absolute;
  display: block;
  left: 0;
  top: 30px;
  height: 1px;
  width: 60px;

  background-color: #BB945F;

  content: "";
}

.book_name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 2.5;
  letter-spacing: 2px;

  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 0;
}

.book_paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 2.5;
  text-transform: capitalize;

  margin-left: 20px;
  margin-top: 30px;
  width: 355px;
  height: 320px;
}

.text_transform_uppercase {
  text-transform: uppercase;
}

.book_img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 300px;
}

.book_button {
  position: absolute;
  bottom: 15px;
  left: 20px;
  cursor: pointer;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  letter-spacing: 1px;

  border: 1px #0C0C0E solid;
  border-radius: 2px;

  width: 75px;
  height: 30px;
}

.book_button:hover {
  background-color:#BB945F;
  border: #BB945F;
  transition-duration: 0.4s;
}

.spring_hidden {
  display: none;
}

.summer_hidden {
  display: none;
}

.autumn_hidden {
  display: none;
}
/* Favorites-items end */
/*Favorites styles end */

/*Coffee shop styles start */

.coffee_shop {
  margin-top: 40px;
}
.coffee_and_tea {
  width: 438px;
}
.menu_h3 {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 2px;
  color: #BB945F;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.menu_h3_right {
  text-align: right;
}

.menu_items_left {
  display: flex;
  flex-wrap: wrap;
  width: 441px;
}

.menu_items_right {
  display: flex;
  flex-wrap: wrap;
  width: 482px;
}

.menu_item {
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-grow: 1;
}

.item_name {
  display: inline-block;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  flex-grow: 1;
  margin: 0;
}

.item_name_right {
  text-align: right;
}

.brown_line {
  display: inline-block;
  width: 100px;
  height: 1px;
  background-color: #BB945F;
  margin-right: 60px;
  margin-left: 60px;
}

.item_cost {
  display: inline-block;
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  margin: 0;
}
/*Coffee shop styles end */
/* Main styles end */