/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v13-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* forum-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
  box-sizing: border-box;
  }

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: black;
  
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

/* Header styles start */
.header {
  background-color: #0C0C0E;
}

h1 {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 30px;
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 30px;
}

.header_item:last-child {
  margin-right: 40px;
}

.header_link {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.header_link:hover, .header_link:focus, .header_link:active {
  opacity: .75;
}

.header_right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

/* Header styles end */


/* Main styles start */

/* Welcome styles start */
.welcome {
  display: flex;
  height: 600px;
  background: url(../img/Welcome.jpg) no-repeat center;
  background-size: cover;
  
}

.welcome_black {
  margin-top: 220px;
  height: 220px;
  width: 600px;
  background-color: #0C0C0E;
}

.welcome_p {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 40px;
  text-transform: uppercase;
  margin: 35px 40px;
  text-align: center;
  letter-spacing: 3px;
}
/* Welcome styles end */

/* About styles start */

.about {

}

.about_title {
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}
/* About styles end */

/* Main styles end */